/*-------------------------------
Display
-------------------------------*/
.block,
.d-block {
  display: block !important;
}
.flex,
.d-flex {
  display: flex !important;
}
.inline-flex,
.d-inline-flex {
  display: inline-flex !important;
}
.hidden,
.d-none {
  display: none !important;
}
// hidden at breakpoint and up
@include breakpoint('xs') {
  .hidden-xs {
    display: none !important;
  }
}
@include breakpoint('sm') {
  .hidden-sm {
    display: none !important;
  }
}
@include breakpoint('md') {
  .hidden-md {
    display: none !important;
  }
}
@include breakpoint('lg') {
  .hidden-lg {
    display: none !important;
  }
}
@include breakpoint('xl') {
  .hidden-xl {
    display: none !important;
  }
}
@include breakpoint('2x') {
  .hidden-2x {
    display: none !important;
  }
}
@include breakpoint('3x') {
  .hidden-3x {
    display: none !important;
  }
}
// hidden at breakpoint and down
@include breakpoint('sm', 'down') {
  .hidden-xs-down {
    display: none !important;
  }
}
@include breakpoint('md', 'down') {
  .hidden-sm-down {
    display: none !important;
  }
}
@include breakpoint('lg', 'down') {
  .hidden-md-down {
    display: none !important;
  }
}
@include breakpoint('xl', 'down') {
  .hidden-lg-down {
    display: none !important;
  }
}
@include breakpoint('2x', 'down') {
  .hidden-xl-down {
    display: none !important;
  }
}
@include breakpoint('3x', 'down') {
  .hidden-2x-down {
    display: none !important;
  }
}

/*-------------------------------
Flex
-------------------------------*/
/// Flex
.flex-auto,
.flex-fill {
  flex: 1 1 auto !important;
}
.flex-initial {
  flex: 0 1 auto !important;
}

/// Flex Direction
.flex-column {
  flex-direction: column !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}

/// Flex Grow
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}

/// Flex Shrink
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  flex-shrink: 1 !important;
}

/// Flex Order
.order-0 {
  order: 0 !important;
}
.order-1 {
  order: 1 !important;
}

/// Flex Wrap
.flex-nowrap,
.flex-no-wrap {
  flex-wrap: nowrap !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

/// Align Items
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-stretch {
  align-items: stretch !important;
}

/// Align Content
.align-content-around {
  align-content: space-around !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-end {
  align-content: flex-end !important;
}
.align-content-start {
  align-content: flex-start !important;
}
.align-content-stretch {
  align-content: stretch !important;
}

/// Align Self
.align-self-auto {
  align-self: auto !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.align-self-start {
  align-self: flex-start !important;
}
.align-self-stretch {
  align-self: stretch !important;
}

/// Justify Content
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-evenly {
  justify-content: space-evenly !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}

/*-------------------------------
Fluid Padding
-Uses the '$fluid-padding' variable values
-------------------------------*/
/// Default
.p-fluid {
  padding: map-get($fluid-padding, 'default');
}
.px-fluid,
.pl-fluid {
  padding-left: map-get($fluid-padding, 'default');
}
.px-fluid,
.pr-fluid {
  padding-right: map-get($fluid-padding, 'default');
}
.py-fluid,
.pt-fluid {
  padding-top: map-get($fluid-padding, 'default');
}
.px-fluid,
.pb-fluid {
  padding-bottom: map-get($fluid-padding, 'default');
}

/// Nano
@include breakpoint('nano') {
  .p-fluid {
    padding: map-get($fluid-padding, 'nano');
  }
  .px-fluid,
  .pl-fluid {
    padding-left: map-get($fluid-padding, 'nano');
  }
  .px-fluid,
  .pr-fluid {
    padding-right: map-get($fluid-padding, 'nano');
  }
  .py-fluid,
  .pt-fluid {
    padding-top: map-get($fluid-padding, 'nano');
  }
  .px-fluid,
  .pb-fluid {
    padding-bottom: map-get($fluid-padding, 'nano');
  }
}

/// XS
@include breakpoint('xs') {
  .p-fluid {
    padding: map-get($fluid-padding, 'xs');
  }
  .px-fluid,
  .pl-fluid {
    padding-left: map-get($fluid-padding, 'xs');
  }
  .px-fluid,
  .pr-fluid {
    padding-right: map-get($fluid-padding, 'xs');
  }
  .py-fluid,
  .pt-fluid {
    padding-top: map-get($fluid-padding, 'xs');
  }
  .px-fluid,
  .pb-fluid {
    padding-bottom: map-get($fluid-padding, 'xs');
  }
}

/// SM
@include breakpoint('sm') {
  .p-fluid {
    padding: map-get($fluid-padding, 'sm');
  }
  .px-fluid,
  .pl-fluid {
    padding-left: map-get($fluid-padding, 'sm');
  }
  .px-fluid,
  .pr-fluid {
    padding-right: map-get($fluid-padding, 'sm');
  }
  .py-fluid,
  .pt-fluid {
    padding-top: map-get($fluid-padding, 'sm');
  }
  .px-fluid,
  .pb-fluid {
    padding-bottom: map-get($fluid-padding, 'sm');
  }
}

/// MD
@include breakpoint('md') {
  .p-fluid {
    padding: map-get($fluid-padding, 'md');
  }
  .px-fluid,
  .pl-fluid {
    padding-left: map-get($fluid-padding, 'md');
  }
  .px-fluid,
  .pr-fluid {
    padding-right: map-get($fluid-padding, 'md');
  }
  .py-fluid,
  .pt-fluid {
    padding-top: map-get($fluid-padding, 'md');
  }
  .px-fluid,
  .pb-fluid {
    padding-bottom: map-get($fluid-padding, 'md');
  }
}

/// LG
@include breakpoint('lg') {
  .p-fluid {
    padding: map-get($fluid-padding, 'lg');
  }
  .px-fluid,
  .pl-fluid {
    padding-left: map-get($fluid-padding, 'lg');
  }
  .px-fluid,
  .pr-fluid {
    padding-right: map-get($fluid-padding, 'lg');
  }
  .py-fluid,
  .pt-fluid {
    padding-top: map-get($fluid-padding, 'lg');
  }
  .px-fluid,
  .pb-fluid {
    padding-bottom: map-get($fluid-padding, 'lg');
  }
}

/// XL
@include breakpoint('xl') {
  .p-fluid {
    padding: map-get($fluid-padding, 'xl');
  }
  .px-fluid,
  .pl-fluid {
    padding-left: map-get($fluid-padding, 'xl');
  }
  .px-fluid,
  .pr-fluid {
    padding-right: map-get($fluid-padding, 'xl');
  }
  .py-fluid,
  .pt-fluid {
    padding-top: map-get($fluid-padding, 'xl');
  }
  .px-fluid,
  .pb-fluid {
    padding-bottom: map-get($fluid-padding, 'xl');
  }
}

/// 2x
@include breakpoint('2x') {
  .p-fluid {
    padding: map-get($fluid-padding, '2x');
  }
  .px-fluid,
  .pl-fluid {
    padding-left: map-get($fluid-padding, '2x');
  }
  .px-fluid,
  .pr-fluid {
    padding-right: map-get($fluid-padding, '2x');
  }
  .py-fluid,
  .pt-fluid {
    padding-top: map-get($fluid-padding, '2x');
  }
  .px-fluid,
  .pb-fluid {
    padding-bottom: map-get($fluid-padding, '2x');
  }
}

/// 3x
@include breakpoint('3x') {
  .p-fluid {
    padding: map-get($fluid-padding, '3x');
  }
  .px-fluid,
  .pl-fluid {
    padding-left: map-get($fluid-padding, '3x');
  }
  .px-fluid,
  .pr-fluid {
    padding-right: map-get($fluid-padding, '3x');
  }
  .py-fluid,
  .pt-fluid {
    padding-top: map-get($fluid-padding, '3x');
  }
  .px-fluid,
  .pb-fluid {
    padding-bottom: map-get($fluid-padding, '3x');
  }
}

/*-------------------------------
Negative Fluid Margin
-Uses the '$fluid-padding' variable values
-------------------------------*/
/// Default
.-m-fluid {
  margin: -(map-get($fluid-padding, 'default'));
}
.-mx-fluid,
.-ml-fluid {
  margin-left: -(map-get($fluid-padding, 'default'));
}
.-mx-fluid,
.-mr-fluid {
  margin-right: -(map-get($fluid-padding, 'default'));
}
.-my-fluid,
.-mt-fluid {
  margin-top: -(map-get($fluid-padding, 'default'));
}
.-mx-fluid,
.-mb-fluid {
  margin-bottom: -(map-get($fluid-padding, 'default'));
}

/// Nano
@include breakpoint('nano') {
  .-m-fluid {
    margin: -(map-get($fluid-padding, 'nano'));
  }
  .-mx-fluid,
  .-ml-fluid {
    margin-left: -(map-get($fluid-padding, 'nano'));
  }
  .-mx-fluid,
  .-mr-fluid {
    margin-right: -(map-get($fluid-padding, 'nano'));
  }
  .-my-fluid,
  .-mt-fluid {
    margin-top: -(map-get($fluid-padding, 'nano'));
  }
  .-mx-fluid,
  .-mb-fluid {
    margin-bottom: -(map-get($fluid-padding, 'nano'));
  }
}

/// XS
@include breakpoint('xs') {
  .-m-fluid {
    margin: -(map-get($fluid-padding, 'xs'));
  }
  .-mx-fluid,
  .-ml-fluid {
    margin-left: -(map-get($fluid-padding, 'xs'));
  }
  .-mx-fluid,
  .-mr-fluid {
    margin-right: -(map-get($fluid-padding, 'xs'));
  }
  .-my-fluid,
  .-mt-fluid {
    margin-top: -(map-get($fluid-padding, 'xs'));
  }
  .-mx-fluid,
  .-mb-fluid {
    margin-bottom: -(map-get($fluid-padding, 'xs'));
  }
}

/// SM
@include breakpoint('sm') {
  .-m-fluid {
    margin: -(map-get($fluid-padding, 'sm'));
  }
  .-mx-fluid,
  .-ml-fluid {
    margin-left: -(map-get($fluid-padding, 'sm'));
  }
  .-mx-fluid,
  .-mr-fluid {
    margin-right: -(map-get($fluid-padding, 'sm'));
  }
  .-my-fluid,
  .-mt-fluid {
    margin-top: -(map-get($fluid-padding, 'sm'));
  }
  .-mx-fluid,
  .-mb-fluid {
    margin-bottom: -(map-get($fluid-padding, 'sm'));
  }
}

/// MD
@include breakpoint('md') {
  .-m-fluid {
    margin: -(map-get($fluid-padding, 'md'));
  }
  .-mx-fluid,
  .-ml-fluid {
    margin-left: -(map-get($fluid-padding, 'md'));
  }
  .-mx-fluid,
  .-mr-fluid {
    margin-right: -(map-get($fluid-padding, 'md'));
  }
  .-my-fluid,
  .-mt-fluid {
    margin-top: -(map-get($fluid-padding, 'md'));
  }
  .-mx-fluid,
  .-mb-fluid {
    margin-bottom: -(map-get($fluid-padding, 'md'));
  }
}

/// LG
@include breakpoint('lg') {
  .-m-fluid {
    margin: -(map-get($fluid-padding, 'lg'));
  }
  .-mx-fluid,
  .-ml-fluid {
    margin-left: -(map-get($fluid-padding, 'lg'));
  }
  .-mx-fluid,
  .-mr-fluid {
    margin-right: -(map-get($fluid-padding, 'lg'));
  }
  .-my-fluid,
  .-mt-fluid {
    margin-top: -(map-get($fluid-padding, 'lg'));
  }
  .-mx-fluid,
  .-mb-fluid {
    margin-bottom: -(map-get($fluid-padding, 'lg'));
  }
}

/// XL
@include breakpoint('xl') {
  .-m-fluid {
    margin: -(map-get($fluid-padding, 'xl'));
  }
  .-mx-fluid,
  .-ml-fluid {
    margin-left: -(map-get($fluid-padding, 'xl'));
  }
  .-mx-fluid,
  .-mr-fluid {
    margin-right: -(map-get($fluid-padding, 'xl'));
  }
  .-my-fluid,
  .-mt-fluid {
    margin-top: -(map-get($fluid-padding, 'xl'));
  }
  .-mx-fluid,
  .-mb-fluid {
    margin-bottom: -(map-get($fluid-padding, 'xl'));
  }
}

/// 2x
@include breakpoint('2x') {
  .-m-fluid {
    margin: -(map-get($fluid-padding, '2x'));
  }
  .-mx-fluid,
  .-ml-fluid {
    margin-left: -(map-get($fluid-padding, '2x'));
  }
  .-mx-fluid,
  .-mr-fluid {
    margin-right: -(map-get($fluid-padding, '2x'));
  }
  .-my-fluid,
  .-mt-fluid {
    margin-top: -(map-get($fluid-padding, '2x'));
  }
  .-mx-fluid,
  .-mb-fluid {
    margin-bottom: -(map-get($fluid-padding, '2x'));
  }
}

/// 3x
@include breakpoint('3x') {
  .-m-fluid {
    margin: -(map-get($fluid-padding, '3x'));
  }
  .-mx-fluid,
  .-ml-fluid {
    margin-left: -(map-get($fluid-padding, '3x'));
  }
  .-mx-fluid,
  .-mr-fluid {
    margin-right: -(map-get($fluid-padding, '3x'));
  }
  .-my-fluid,
  .-mt-fluid {
    margin-top: -(map-get($fluid-padding, '3x'));
  }
  .-mx-fluid,
  .-mb-fluid {
    margin-bottom: -(map-get($fluid-padding, '3x'));
  }
}

/*-------------------------------
Images
-------------------------------*/
/// Object fit
.img-fit {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.img-fit-height-auto {
  height: auto;
  object-fit: cover;
  width: 100%;
}

/*-------------------------------
Margin
-------------------------------*/
/// Default (all sides)
.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 0.75rem;
}
.m-4 {
  margin: 1rem;
}
.m-5 {
  margin: 1.25rem;
}
.m-6 {
  margin: 1.5rem;
}
.m-7 {
  margin: 1.75rem;
}
.m-8 {
  margin: 2rem;
}
.m-10 {
  margin: 2.5rem;
}
.m-12 {
  margin: 3rem;
}
.m-14 {
  margin: 3.5rem;
}
.m-16 {
  margin: 4rem;
}
.m-20 {
  margin: 5rem;
}
.m-24 {
  margin: 6rem;
}

/// Margin Left
.mx-auto,
.ml-auto {
  margin-left: auto;
}
.mx-0,
.ml-0 {
  margin-left: 0;
}
.mx-1,
.ml-1 {
  margin-left: 0.25rem;
}
.mx-2,
.ml-2 {
  margin-left: 0.5rem;
}
.mx-3,
.ml-3 {
  margin-left: 0.75rem;
}
.mx-4,
.ml-4 {
  margin-left: 1rem;
}
.mx-5,
.ml-5 {
  margin-left: 1.25rem;
}
.mx-6,
.ml-6 {
  margin-left: 1.5rem;
}
.mx-7,
.ml-7 {
  margin-left: 1.75rem;
}
.mx-8,
.ml-8 {
  margin-left: 2rem;
}
.mx-10,
.ml-10 {
  margin-left: 2.5rem;
}
.mx-12,
.ml-12 {
  margin-left: 3rem;
}
.mx-14,
.ml-14 {
  margin-left: 3.5rem;
}
.mx-16,
.ml-16 {
  margin-left: 4rem;
}
.mx-20,
.ml-20 {
  margin-left: 5rem;
}
.mx-24,
.ml-24 {
  margin-left: 6rem;
}

/// Margin Right
.mx-auto,
.mr-auto {
  margin-right: auto;
}
.mx-0,
.mr-0 {
  margin-right: 0;
}
.mx-1,
.mr-1 {
  margin-right: 0.25rem;
}
.mx-2,
.mr-2 {
  margin-right: 0.5rem;
}
.mx-3,
.mr-3 {
  margin-right: 0.75rem;
}
.mx-4,
.mr-4 {
  margin-right: 1rem;
}
.mx-5,
.mr-5 {
  margin-right: 1.25rem;
}
.mx-6,
.mr-6 {
  margin-right: 1.5rem;
}
.mx-7,
.mr-7 {
  margin-right: 1.75rem;
}
.mx-8,
.mr-8 {
  margin-right: 2rem;
}
.mx-10,
.mr-10 {
  margin-right: 2.5rem;
}
.mx-12,
.mr-12 {
  margin-right: 3rem;
}
.mx-14,
.mr-14 {
  margin-right: 3.5rem;
}
.mx-16,
.mr-16 {
  margin-right: 4rem;
}
.mx-20,
.mr-20 {
  margin-right: 5rem;
}
.mx-24,
.mr-24 {
  margin-right: 6rem;
}

/// Margin Top
.my-auto,
.mt-auto {
  margin-top: auto;
}
.my-0,
.mt-0 {
  margin-top: 0;
}
.my-1,
.mt-1 {
  margin-top: 0.25rem;
}
.my-2,
.mt-2 {
  margin-top: 0.5rem;
}
.my-3,
.mt-3 {
  margin-top: 0.75rem;
}
.my-4,
.mt-4 {
  margin-top: 1rem;
}
.my-5,
.mt-5 {
  margin-top: 1.25rem;
}
.my-6,
.mt-6 {
  margin-top: 1.5rem;
}
.my-7,
.mt-7 {
  margin-top: 1.75rem;
}
.my-8,
.mt-8 {
  margin-top: 2rem;
}
.my-10,
.mt-10 {
  margin-top: 2.5rem;
}
.my-12,
.mt-12 {
  margin-top: 3rem;
}
.my-14,
.mt-14 {
  margin-top: 3.5rem;
}
.my-16,
.mt-16 {
  margin-top: 4rem;
}
.my-20,
.mt-20 {
  margin-top: 5rem;
}
.my-24,
.mt-24 {
  margin-top: 6rem;
}

/// Margin Bottom
.my-auto,
.mb-auto {
  margin-bottom: auto;
}
.my-0,
.mb-0 {
  margin-bottom: 0;
}
.my-1,
.mb-1 {
  margin-bottom: 0.25rem;
}
.my-2,
.mb-2 {
  margin-bottom: 0.5rem;
}
.my-3,
.mb-3 {
  margin-bottom: 0.75rem;
}
.my-4,
.mb-4 {
  margin-bottom: 1rem;
}
.my-5,
.mb-5 {
  margin-bottom: 1.25rem;
}
.my-6,
.mb-6 {
  margin-bottom: 1.5rem;
}
.my-7,
.mb-7 {
  margin-bottom: 1.75rem;
}
.my-8,
.mb-8 {
  margin-bottom: 2rem;
}
.my-10,
.mb-10 {
  margin-bottom: 2.5rem;
}
.my-12,
.mb-12 {
  margin-bottom: 3rem;
}
.my-14,
.mb-14 {
  margin-bottom: 3.5rem;
}
.my-16,
.mb-16 {
  margin-bottom: 4rem;
}
.my-20,
.mb-20 {
  margin-bottom: 5rem;
}
.my-24,
.mb-24 {
  margin-bottom: 6rem;
}

/*-------------------------------
Padding
-------------------------------*/
/// Default (all sides)
.p-auto {
  padding: auto;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-7 {
  padding: 1.75rem;
}
.p-8 {
  padding: 2rem;
}
.p-10 {
  padding: 2.5rem;
}
.p-12 {
  padding: 3rem;
}
.p-14 {
  padding: 3.5rem;
}
.p-16 {
  padding: 4rem;
}
.p-20 {
  padding: 5rem;
}
.p-24 {
  padding: 6rem;
}

/// Padding Left
.px-auto,
.pl-auto {
  padding-left: auto;
}
.px-0,
.pl-0 {
  padding-left: 0;
}
.px-1,
.pl-1 {
  padding-left: 0.25rem;
}
.px-2,
.pl-2 {
  padding-left: 0.5rem;
}
.px-3,
.pl-3 {
  padding-left: 0.75rem;
}
.px-4,
.pl-4 {
  padding-left: 1rem;
}
.px-5,
.pl-5 {
  padding-left: 1.25rem;
}
.px-6,
.pl-6 {
  padding-left: 1.5rem;
}
.px-7,
.pl-7 {
  padding-left: 1.75rem;
}
.px-8,
.pl-8 {
  padding-left: 2rem;
}
.px-10,
.pl-10 {
  padding-left: 2.5rem;
}
.px-12,
.pl-12 {
  padding-left: 3rem;
}
.px-14,
.pl-14 {
  padding-left: 3.5rem;
}
.px-16,
.pl-16 {
  padding-left: 4rem;
}
.px-20,
.pl-20 {
  padding-left: 5rem;
}
.px-24,
.pl-24 {
  padding-left: 6rem;
}

/// Padding Right
.px-auto,
.pr-auto {
  padding-right: auto;
}
.px-0,
.pr-0 {
  padding-right: 0;
}
.px-1,
.pr-1 {
  padding-right: 0.25rem;
}
.px-2,
.pr-2 {
  padding-right: 0.5rem;
}
.px-3,
.pr-3 {
  padding-right: 0.75rem;
}
.px-4,
.pr-4 {
  padding-right: 1rem;
}
.px-5,
.pr-5 {
  padding-right: 1.25rem;
}
.px-6,
.pr-6 {
  padding-right: 1.5rem;
}
.px-7,
.pr-7 {
  padding-right: 1.75rem;
}
.px-8,
.pr-8 {
  padding-right: 2rem;
}
.px-10,
.pr-10 {
  padding-right: 2.5rem;
}
.px-12,
.pr-12 {
  padding-right: 3rem;
}
.px-14,
.pr-14 {
  padding-right: 3.5rem;
}
.px-16,
.pr-16 {
  padding-right: 4rem;
}
.px-20,
.pr-20 {
  padding-right: 5rem;
}
.px-24,
.pr-24 {
  padding-right: 6rem;
}

/// Padding Top
.py-auto,
.pt-auto {
  padding-top: auto;
}
.py-0,
.pt-0 {
  padding-top: 0;
}
.py-1,
.pt-1 {
  padding-top: 0.25rem;
}
.py-2,
.pt-2 {
  padding-top: 0.5rem;
}
.py-3,
.pt-3 {
  padding-top: 0.75rem;
}
.py-4,
.pt-4 {
  padding-top: 1rem;
}
.py-5,
.pt-5 {
  padding-top: 1.25rem;
}
.py-6,
.pt-6 {
  padding-top: 1.5rem;
}
.py-7,
.pt-7 {
  padding-top: 1.75rem;
}
.py-8,
.pt-8 {
  padding-top: 2rem;
}
.py-10,
.pt-10 {
  padding-top: 2.5rem;
}
.py-12,
.pt-12 {
  padding-top: 3rem;
}
.py-14,
.pt-14 {
  padding-top: 3.5rem;
}
.py-16,
.pt-16 {
  padding-top: 4rem;
}
.py-20,
.pt-20 {
  padding-top: 5rem;
}
.py-24,
.pt-24 {
  padding-top: 6rem;
}

/// Padding Bottom
.py-auto,
.pb-auto {
  padding-bottom: auto;
}
.py-0,
.pb-0 {
  padding-bottom: 0;
}
.py-1,
.pb-1 {
  padding-bottom: 0.25rem;
}
.py-2,
.pb-2 {
  padding-bottom: 0.5rem;
}
.py-3,
.pb-3 {
  padding-bottom: 0.75rem;
}
.py-4,
.pb-4 {
  padding-bottom: 1rem;
}
.py-5,
.pb-5 {
  padding-bottom: 1.25rem;
}
.py-6,
.pb-6 {
  padding-bottom: 1.5rem;
}
.py-7,
.pb-7 {
  padding-bottom: 1.75rem;
}
.py-8,
.pb-8 {
  padding-bottom: 2rem;
}
.py-10,
.pb-10 {
  padding-bottom: 2.5rem;
}
.py-12,
.pb-12 {
  padding-bottom: 3rem;
}
.py-14,
.pb-14 {
  padding-bottom: 3.5rem;
}
.py-16,
.pb-16 {
  padding-bottom: 4rem;
}
.py-20,
.pb-20 {
  padding-bottom: 5rem;
}
.py-24,
.pb-24 {
  padding-bottom: 6rem;
}

/*-------------------------------
Sizing
-------------------------------*/
/// Height
.h-1 {
  height: 8.333333%;
}
.h-2 {
  height: 16.666667%;
}
.h-3 {
  height: 25%;
}
.h-4 {
  height: 33.333333%;
}
.h-5 {
  height: 41.666667%;
}
.h-6 {
  height: 50%;
}
.h-7 {
  height: 58.333333%;
}
.h-8 {
  height: 66.666667%;
}
.h-9 {
  height: 75%;
}
.h-10 {
  height: 83.333333%;
}
.h-11 {
  height: 91.666667%;
}
.h-12,
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

/// Width
.w-1 {
  width: 8.333333%;
}
.w-2 {
  width: 16.666667%;
}
.w-3 {
  width: 25%;
}
.w-4 {
  width: 33.333333%;
}
.w-5 {
  width: 41.666667%;
}
.w-6 {
  width: 50%;
}
.w-7 {
  width: 58.333333%;
}
.w-8 {
  width: 66.666667%;
}
.w-9 {
  width: 75%;
}
.w-10 {
  width: 83.333333%;
}
.w-11 {
  width: 91.666667%;
}
.w-12,
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}

/*-------------------------------
Typography
-------------------------------*/
/// Line Height
.lh-1 {
  line-height: 1 !important;
}
.lh-sm {
  line-height: 1.25 !important;
}
.lh-base {
  line-height: 1.5 !important;
}
.lh-lg {
  line-height: 2 !important;
}

/// Positioning
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

/// Sizing
.text-fixed {
  // use this to keep text browser default (16px) at all breakpoints
  font-size: 1rem;
  @include breakpoint('md') {
    font-size: 0.888889rem;
  }
  @include breakpoint('lg') {
    font-size: 0.8rem;
  }
  @include breakpoint('xl') {
    font-size: 0.727272rem;
  }
  @include breakpoint('2x') {
    font-size: 0.666667rem;
  }
}
.text-fixed-sm {
  // use this to keep text at slighly smaller (14px) at all breakpoints
  font-size: 1rem;
  @include breakpoint('md') {
    font-size: 0.777778rem;
  }
  @include breakpoint('lg') {
    font-size: 0.7rem;
  }
  @include breakpoint('xl') {
    font-size: 0.636363rem;
  }
  @include breakpoint('2x') {
    font-size: 0.583333rem;
  }
}
.text-fixed-lg {
  // use this to keep text at slightly larger (18px) at all breakpoints
  font-size: 1.125rem;
  @include breakpoint('md') {
    font-size: 1rem;
  }
  @include breakpoint('lg') {
    font-size: 0.9rem;
  }
  @include breakpoint('xl') {
    font-size: 0.818181rem;
  }
  @include breakpoint('2x') {
    font-size: 0.75rem;
  }
}

.text-2xs {
  font-size: $font-size-2xs !important;
}
.text-xs {
  font-size: $font-size-xs !important;
}
.text-sm {
  font-size: $font-size-sm !important;
}
.text-base {
  font-size: $font-size !important;
}
.text-lg {
  font-size: $font-size-lg !important;
}
.text-xl {
  font-size: $font-size-xl !important;
}
.text-2xl {
  font-size: $font-size-2xl !important;
}
.text-3xl {
  font-size: $font-size-3xl !important;
}
.text-4xl {
  font-size: $font-size-4xl !important;
}
.text-5xl {
  font-size: $font-size-5xl !important;
}
.text-6xl {
  font-size: $font-size-6xl !important;
}
.text-7xl {
  font-size: $font-size-7xl !important;
}
.text-8xl {
  font-size: $font-size-8xl !important;
}
.text-9xl {
  font-size: $font-size-9xl !important;
}
.text-10xl {
  font-size: $font-size-10xl !important;
}
.text-11xl {
  font-size: $font-size-11xl !important;
}
.text-12xl {
  font-size: $font-size-12xl !important;
}
.text-16xl {
  font-size: $font-size-16xl !important;
}
.text-20xl {
  font-size: $font-size-20xl !important;
}
.text-24xl {
  font-size: $font-size-24xl !important;
}

/// Transform
.text-uppercase {
  text-transform: uppercase !important;
}

/// Weights
.text-400 {
  font-weight: 400 !important;
}
.text-500 {
  font-weight: 500 !important;
}
.text-600 {
  font-weight: 600 !important;
}
.text-700 {
  font-weight: 700 !important;
}
.text-800 {
  font-weight: 800 !important;
}
.text-900 {
  font-weight: 900 !important;
}

/// Wrapping
.no-wrap {
  white-space: nowrap;
}

/*-------------------------------
Visibility
-------------------------------*/
.invisible {
  visibility: hidden;
}

/*-------------------------------
Z-Indexes (Layers)
-------------------------------*/
.z-neg,
.-z-1 {
  position: relative;
  z-index: -10;
}
.z-0 {
  position: relative;
  z-index: 0;
}
.z-1 {
  position: relative;
  z-index: 10;
}
.z-2 {
  position: relative;
  z-index: 20;
}
.z-3 {
  position: relative;
  z-index: 30;
}
.z-4 {
  position: relative;
  z-index: 40;
}
.z-5 {
  position: relative;
  z-index: 50;
}
.z-6 {
  position: relative;
  z-index: 60;
}
